body
{
    font-size: 1em;
    color: black;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: navy;
}

#mainWrapper
{
}

#header
{
}

#headerNav
{
    padding-right: 2em;
    padding-left: 2em;
    font-size: 0.8em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    border-bottom: navy 1px solid;
    border-top: navy 1px solid;
}

#footer
{
    border-top: navy 1px solid;
    font-size: 0.8em;
    text-align: right;
    padding-right: 2em;
}

a, a:visited
{
    color: navy;
}

a:hover, a:active
{
    color: maroon;
    text-decoration: none;
}

#content
{
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}

img
{
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}